      html,body{
        margin:0px;
        padding:0px;
      }
      #test{
        float:left;
        color: #eee;
        background-color: #008000;
        width: 100%;
        height: 50px;
        padding: 20px;
      }
      .rack{
        float:left;
        width: 400px;
        height: 546px;
        background: url('rack.jpg');
        margin: 50px;
      }
      
      #sysinfo{
      	position:absolute;
      	top:140px;
      	left:970px;
      	background-color:#369;
      	height:120px;
      	width:150px;
      	padding-left:20px;
      	
      }

      #rackinner1{
        float:left;
        width:280px;
        height:380px;
        margin-top: 45px;
        margin-left: 45px;
        padding-left: 15px;
        padding-top: 15px;
        overflow:scroll;
      }

      #rackinner2{
        float:left;
        width:280px;
        height:380px;
        margin-top: 45px;
        margin-left: 45px;
        padding-left: 15px;
        padding-top: 15px;
        overflow:scroll;
      }
      
      #info{
        float: left;
        width: 100%;
        height: 200px;
        color: #eee;
        background-color: #222;
        padding: 10px;
        
        
        
      }